body{ margin: 0; padding: 0;}
a{ color: #cd2f3b;}
.hero-back{ background:rgba(0, 0, 0, 0) linear-gradient(#e53935 0%, #e53935 40%, #e53935 40%, white 40%, white 100%) no-repeat scroll 0 0;position:relative;overflow:hidden; width:100%;}

.hm-container{width:75%; margin:4em auto; background: #fff; position: relative;-webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.55);
-moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.55);box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.55); padding: 2em;} 

#search{ width: 70%; margin:7em auto;}
#search h1{ margin-bottom: 25px;}
.btn-search{ padding:19px 20px; cursor: pointer;background: #ededed ;}
.navbar-brand img{ width: 80%}
.form-control{ background: #ededed ; border: 0; padding: 20px;}
.form-control:focus{ background: #ededed ; border: 0; padding: 20px;}

.srch-input{width:90% !important;}
.footer{ margin-bottom: 2em;} 
.more{ width:65px;height:65px; bottom: -30px; left:46%; position: absolute;background: #e53935;border-radius: 50%; text-align: center; padding-top: 5px; color: #fff; font-size: 32px; cursor: pointer;}
.btn-primary { background-color: #e53935; border-color: #e53935; color: #fff;}
.btn-primary:hover{ background: #ca2b27 ; border-color:#ca2b27 ;}
.btn-primary:focus{ background: #ca2b27; border-color:#ca2b27;}
.nav-menu{ float: right;}
.nav-right {display: flex;}
.nav-right {justify-content: flex-end;}
.nav-left, .nav-right { align-items: stretch;flex: 1 0 0px;}
.nav-item {align-items: center;display: flex;flex-grow: 0;flex-shrink: 0;font-size: 1rem;justify-content: center;padding: 0.5rem 0.75rem; color: #fff;}
.logo { height: 3.5rem;padding: 0.9rem 0 0 0rem;}
.hero-ban{ background: rgba(0, 0, 0, 0) linear-gradient(160deg, #e53935, #c81e1a) repeat scroll 0 0 !important;}
.hero-body{padding: 3rem 1.5rem 2rem 0;}
.hero-body{ color: #fff;}
@media only screen and (min-width:320px) and (max-width: 767px)
{
    .hm-container{ width: 90%; margin-top: 1em; padding: 1em;} 
    #search{ width: 100%; margin: 1em 0 3em 0;}
    #search h1{ font-size: 100%; margin-bottom: 0;}
    .srch-input{width:78% !important;}
    .more{ left: 40%;}
}

@media only screen and (min-width:768px) and (max-width: 1023px)
{
    
}