body{ margin: 0; padding: 0;}
a{ color: #cd2f3b;}
.hero-back{ background:rgba(0, 0, 0, 0) linear-gradient(#e53935 0%, #e53935 40%, #e53935 40%, white 40%, white 100%) no-repeat scroll 0 0;position:relative;overflow:hidden; width:100%;}

.hm-container{width:75%; margin:4em auto; background: #fff; position: relative;-webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.55);
-moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.55);box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.55); padding: 2em;} 
.hero-ban-hm .container{width:970px;}
.hero-back-hm{ background:rgba(0, 0, 0, 0) linear-gradient(#e53935 0%, #e53935 40%, #e53935 40%, white 40%, white 100%) no-repeat scroll 0 0;position:relative;overflow:hidden; width:100%;}

.search-form{ margin-top:7em; margin-bottom:7em}
.search-form h1{ margin-bottom: 25px;}

.btn-search{ padding:19px 20px; cursor: pointer;background: #ededed ;}
.navbar-brand img{ width: 80%}
.form-control{ background: #ededed ; border: 0; padding: 20px; height: auto;}
.form-control:focus{ background: #ededed ; border: 0; padding: 20px;}


.srch-input{width:99% !important; box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset; padding:8% 0 0 0;}
.navbar-brand{ padding: 0;}

.footer{ margin-bottom: 2em;} 
.more{ width:65px;height:65px; bottom: -30px; left:46%; position: absolute;background: #e53935;border-radius: 50%; text-align: center; padding-top: 5px; color: #fff; font-size: 32px; cursor: pointer;}
.btn-primary { padding: 10px 15px;background-color: #e53935; border-color: #e53935; color: #fff;}
.btn-primary:hover{ background: #ca2b27 ; border-color:#ca2b27 ;}
.btn-primary:focus{ background: #ca2b27; border-color:#ca2b27;}
.nav-menu{ float: right;}
.nav-right {display: flex;}
.nav-right {justify-content: flex-end;}
.nav-left, .nav-right { align-items: stretch;flex: 1 0 0px;}
.nav-menu a {align-items: center;display: flex;flex-grow: 0;flex-shrink: 0;font-size: 1rem;justify-content: center;padding: 0.5rem 0.75rem; color: #fff;}

.logo { padding: 0.9rem 0 0 0rem;}
.hero-ban{ background: rgba(0, 0, 0, 0) linear-gradient(160deg, #e53935, #c81e1a) repeat scroll 0 0 !important;}
.hero-body{padding: 3rem 1.5rem 2rem 0;}
.hero-body{ color: #fff;}
.inner_content{ background: #f2f2f2; padding:3em 0; position: relative;}
.title{ font-size: 30px;}
ul.srch-menu li a{ color: #fff; }   
ul.srch-menu li a.active{ background-color: #fff !important; color:#cd2f3a !important;}
.card{ padding: 0; border: 1px solid #d7d7d7; border-radius:4px;  background: #fff; position: relative; max-width: 31%; margin: 0 2% 2% 0;}
.card:hover{box-shadow:0 3px 8px rgba(0,0,0,.25)}
.card-block {;padding: 1.25rem;}
.card-img-trans{ background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0; position: absolute; left: 0; top:0; width: 100%; height: 213px;}
.card-price-grn{ background: #00eb52; color: #fff; position: absolute; left: -10px; top: 25px; border-radius: 4px; padding:5px 12px;}
.icon-row{}
.icon-heart{box-shadow: 0px 1px 5px #888888; position: absolute; color: #ff0036; top:187px; left: 30px; background:#fff;line-height: 48px; font-size: 22px; text-align: center; border-radius: 50%; height:45px;width:45px; }
.icon-cart{ box-shadow: 0px 1px 5px #888888; position: absolute; color: #c0c0c0; top:187px; left: 112px; background:#fff;line-height: 48px; font-size: 22px; text-align: center; border-radius: 50%; height:45px;width:45px;  }
.icon-more{ box-shadow: 0px 1px 5px #888888; position: absolute; color: #fff; top:187px; left: 195px; background:#e53935;line-height: 48px; font-size: 22px; text-align: center; border-radius: 50%; height:45px;width:45px;  }
.card-title{ font-size: 20px; font-weight: bold; margin-top: 25px;}
.fl{ float: left;}
.fr{ float: right;}
.srch-right{ background: #fff; border-radius: 4px; border: 1px solid rgba(0, 0, 0, 0.125); top: -100px; padding: 15px; height:500px;}
.mar-top{ margin-top: 15px;}
.login-area{ background:#fff; box-shadow: background:#fff; 0 1px 3px rgba(0, 0, 0, 0.13); padding:26px 24px 46px; margin:8% 0 0 0;}

@media only screen and (min-width:320px) and (max-width: 767px)
{
    .hm-container{ width: 90%; margin-top: 1em; padding: 1em;} 
    .search-form{ width: 100%; margin: 1em 0 3em 0;}
    .search-form h1{ font-size: 175%; }
    .srch-input{width:78% !important;}
    .more{ left: 40%;}
}

@media only screen and (min-width:768px) and (max-width: 1024px)
{
   .hm-container{ width: 90%;}  
    #search{ width: 100%; }
    
}
